* {
    box-sizing: border-box;
}

:root {
    --primery-color: #f44336;
}

body {
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.header {
    display: flex;
    align-items: flex-start;
}

h1 {
    width: 90%;
    text-align: center;
    margin: 0 0 50px;
    padding: 20px;
    height: 75px;
    background-color: white;
}

.mode-changer {
    background-color: #333333;
    width: 10%;
    margin: 0 0 50px;
    padding: 30px;
    height: 75px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mode-changer:hover {
    background-color: #d32f2f;
}

body.dark-mode .mode-changer {
    background-color: #eee;
    color: #333;
}

body.dark-mode .mode-changer:hover {
    background-color: #bbb;
}

body.dark-mode {
    background-color: #333;
    color: #eee;
}

body.dark-mode .header, body.dark-mode .guess-game, body.dark-mode footer {
    background-color: #555;
}

body.dark-mode input {
    background-color: #555;
    color: #eee;
    border-color: #eee;
}

.guess-game {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .game-area {
        .inputs {
            > div {
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 30px;
                    margin-right: 15px;
                    font-weight: bold;
                }
            }

            .disabled-inputs {
                opacity: 0.5;
                pointer-events: none;
            }

            input {
                margin: 0 5px;
                width: 60px;
                height: 60px;
                text-align: center;
                font-size: 60px;
                caret-color: var(--primery-color);
                background: white;
                border: none;
                border-bottom: 3px solid #333;

                &:focus {
                    outline-color: #ccc;
                }

                &.yes-in-place {
                    background-color: #f89e13;
                    border: #f89e13;
                    color: white;
                }

                &.not-in-place {
                    background-color: #18ba89;
                    border: #18ba89;
                    color: white;
                }

                &.no {
                    background-color: #27303f;
                    border: #27303f;
                    color: white;
                }
            }
        }
    }

    .key-colors {
        .key-color {
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 10px;

            .key {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;

                &.in-place {
                    background-color: #f89e13;
                }

                &.not-in-place {
                    background-color: #18ba89;
                }

                &.no {
                    background-color: #27303f;
                }
            }

            .key-text {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
}
